[Unit]
Description=Shell Vault SSH Certificate Authority
After=network.target

[Service]
Type=simple
ExecStart=/opt/shell-vault/bin/server
ConfigurationDirectory=/etc/shell-vault
EnvironmentFile=/etc/shell-vault/server.env
Restart=always

[Install]
Alias=shell-vault.service
